;; EXAMPLE CONFIGURATION FILE

;; when debug_print_table is set, it will print every value of the
;; table after each new entry.
debug_print_table = true

;; example boolean
auto_casting = true

;; example boolean
print_all_results = true

;; example string
str = "hello world"

;; example integer
val = 5
